<div class="jumbotron">
    <h1 class="display-4">About Todo-List</h1>
    <p class="lead">This is a simple todo List created using Angular</p>
    <hr class="my-4">
    <p>It utilizes the core Angular Concepts such as:</p>
      <ol type="1">
       <li>Components: todos,todo-item,add-todo,about</li>
       <li>Services: addTodo, ngFor and ngIf directives </li>
       <li>Dependency injection: the todos are dependent on todo-item and hence the same are injected into todos array using the Component Injection method</li>
       <li>Event Emitters and Event Binding: Each todo calls either addTodo service and binds the data and its description to the todos array </li>
       <li>Routing and navigation: Respective routes are created for home and about page and navigated through app-routing.module.ts</li>
       
      </ol>
    
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>